header {
  background-color: var(--white);
}

/* TOP BAR WITH SOCIALS AND CONTACT INFO */
.contact-top-bar {
  display: flex;
  justify-content: flex-end;
}

.top-bar-container {
  border: 1px solid var(--lightgrey);
}

.contact-top-bar .contact-details {
  display: none;
  gap: 25px;
  margin-right: 45px;
}

.contact-details .contact-info {
  display: flex;
  align-items: center;
  min-height: 45px;
  gap: 5px;
}

.contact-info a,
.contact-info span {
  font-family: "swiss-light-extended";
  font-size: 14px;
  line-height: 14px;
}

.contact-info span {
  color: var(--grey);
}

.contact-info a {
  text-decoration: none;
  color: var(--aqua);
  transition: all 0.5s linear;
}

.contact-info a:hover {
  color: var(--grey);
}

.social-media ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

.social-media {
  display: flex;
  min-height: 45px;
  align-items: center;
}

.social-media ul li i {
  font-size: 20px;
  line-height: 20px;
  color: var(--grey);
  transition: all 0.5s linear;
}

.social-media ul li i:hover {
  color: var(--aqua);
}

/* LOGO AND APPOINTMENT BUTTON BAR */
.logo-appointment-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.logo-appointment-bar .logo-wrapper {
  max-width: 170px;
  transition: all 0.5s linear;
}

.logo-appointment-bar .logo-wrapper:hover {
  opacity: 0.5;
}

.logo-appointment-bar .appointment-button-wrapper a {
  font-family: "swiss-light-extended";
  font-size: 10px;
  line-height: 12px;
  color: var(--white);
  text-decoration: none;
  background-color: var(--aqua);
  padding: 10px;
  transition: all 0.5s linear;
}

.logo-appointment-bar .appointment-button-wrapper a:hover {
  background-color: var(--grey);
}

/* TOP MENU BAR WITH FEATURES */
.top-menu-bar-container {
  background-color: var(--lightbrown);
}

.main-menu-features-wrapper {
  min-height: 50px;
  display: inline-block;
  max-width: 1130px;
  margin: 0 auto;
  padding: 10px 0px;
}

.main-menu-feature {
  width: calc(100% / 2);
  display: flex;
  float: left;
  align-items: center;
  min-height: 50px;
  gap: 15px;
}

.main-menu-feature .feature-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 45px;
}

.main-menu-feature .feature-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "swiss-light-extended";
  font-size: 10px;
  line-height: 13px;
  color: var(--white);
}

@media (min-width: 768px) {
  .contact-top-bar .contact-details {
    display: flex;
  }

  .logo-appointment-bar .logo-wrapper {
    max-width: 300px;
  }

  .logo-appointment-bar .appointment-button-wrapper a {
    font-size: 14px;
    line-height: 17px;
    padding: 20px;
  }

  .main-menu-features-wrapper {
    display: flex;
  }

}

@media (min-width: 992px) {
  .logo-appointment-bar .logo-wrapper {
    max-width: 350px;
  }

  .main-menu-feature .feature-text-wrapper {
    font-size: 14px;
    line-height: 18px;
  }
}
